.mySwiper .swiper-slide {
  text-align: left;
  font-size: 18px;
  width: auto;
  min-width: 10px;
  height: 340px;
  padding: 12px;
  width: auto;
  position: relative;
}


.bp-base{
  display: flex;
  justify-content: center;
  padding: 60px 8px 0px 8px;

  width: auto;
  min-width: 20px;
  height: 160px;

  /* background: rgb(43,29,75); */
  background: linear-gradient(0deg, rgba(43,29,75,0.27) 0%, rgba(43,29,75) 33%, rgba(43,29,75,1) 66%, rgba(43,29,75,0.27) 100%);
  
  box-shadow: 0px 0px 3px 0px rgb(27, 18, 48);
  border-radius: 4px;

  perspective: 150px;
  transform: rotateX(45deg) skew(-7.5deg, 0deg);

}.bp-base-empty{ 
  background: rgb(63, 62, 63);
  background: linear-gradient(0deg, rgba(43,29,75,0.27) 0%, rgb(60, 60, 60) 33%, rgba(60, 60, 60) 66%, rgba(43,29,75,0.27) 100%);
  box-shadow: 0px 0px 3px 0px rgb(27, 18, 48);
}

.bp-level-contaner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 4px 0px 4px;

  height: 80px;
  width: 100%;
  min-width: 100px;

  font-size: 22px;
  text-align: center;

  background: rgb(97,44,175);
  background: linear-gradient(0deg, rgba(97,44,175,1) 51%, rgba(66,30,119,1) 100%);
  color: white;

  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);

  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

}.bp-level-empty{
  min-width: 10px;
  width: 10px;

  color: white;
  background: transparent;

  box-shadow: none;

  cursor: default;
}

.bp-reward-container{
  display: flex;
  gap: 10px;

  position: relative;
  top: 40px;
  left: 15px;

  width: 98%;
  height: 120px;
}

.bp-reward-card{
  padding: 4px;
  position: relative;

  height: 100px;
  width: 100px;

  background: rgb(103,106,103);
  background: linear-gradient(0deg, rgba(103,106,103,1) 64%, rgba(72,74,72,1) 100%);

  border-radius: 10px;
}.bp-reward-amount{
  position: absolute;
  bottom: 12px;
  right: 8px;
  
  font-size: 24px;
  font-weight: 600;
  font-style: italic;

  color: #FFFFFF;
  text-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 3px #FFF, 0 0 4px #ff8018, 0 0 2px #ff8018, 0 0 4px #ff8018, 0 0 8px #ff8018, 0 0 10px #ff8018;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}